@use 'utils';

:root {
	--base-spacing: 8px;
	--body-font: 'Karla', sans-serif;
	--header-font: 'Cormorant Garamond', serif;
	--base-color: 0deg, 0%, 0%;
	--primary-color: hsla(20, 100%, 39%, 1);
	@include utils.generate-text-palette(var(--base-color));
}

* {
	font-family: var(--body-font);
	color: var(--text-high);
}

body {
	background-color: #fafafa;
}

html {
	font-size: 18px;

	@include utils.breakpoint-down('sm') {
		font-size: 16px;
	}
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	margin: 0;
	margin-bottom: utils.spacing(1);
}

h2 {
	font-size: 3rem;
}
