@use 'utils';

:root {
	--base-spacing: 8px;
	--body-font: 'Karla', sans-serif;
	--header-font: 'Cormorant Garamond', serif;
	--base-color: 22deg, 50%, 5%;

	@include utils.generate-text-palette(var(--base-color));
}

* {
	font-family: var(--body-font);
	color: var(--text-high);
}

html {
	font-size: 18px;

	@include utils.breakpoint-down('sm') {
		font-size: 16px;
	}
}

h1 {
	font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
}

h2 {
	font-size: 3rem;
}
